*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #828282;
}


section{
    background-image: url(img/wallpaper.jpg);
    width: 300px;
    height: 250px;
}


h1{
    color: #828282;
    text-align: justify;
    font-size: 42px;
    display: inline-block;
}

#lineLeft{
    padding-top: 20px;
    padding-left: 38px;
}

#lineRight{
    padding-right: 25px;
    padding-left: 98px;
}
