*{
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

#wallpaper {
	width:	300px;
	height:	250px;
	margin: 0 auto;
	position:absolute;
	z-index:0;
}

#logo {
	position: absolute;
	width: 200px;
	height: 200px;
    z-index: 3;
    font-size: 20px;
    text-transform: uppercase;
    color: #D5CACE;
	animation: animationLogo 2s 2s ease infinite; 
}


@keyframes animationLogo {

	from {
		margin: 0;
        opacity: 0;
        text-decoration: transparent;
    }
    
	to {
		margin-top: 5px;
        margin-left: 25px;
		opacity: 1;
    }
    
}
